PUBLIC_URL=http://localhost:3000/               #frontend-main
REACT_APP_URL=http://localhost:3000/            #frontend-main
REACT_APP_API=http://localhost:8000/            #backend-main
REACT_APP_SOCKET=http://localhost:4002/         #backend-2-socket-for-chat
REACT_APP_SOCKET_URL=http://localhost:4002      #backend-2-socket-for-chat
REACT_APP_SOCKET_CHAT_URL=http://localhost:3001 #backend-1-socket-for-wa
REACT_APP_WS_URL=ws://localhost:4002            #backend-2-socket-for-chat
REACT_APP_SOCKET_PATH=/socket.io
REACT_APP_SOCKET_CHAT_PATH=/socket.io
NODE_ENV=development
REACT_APP_API_BASE=http://localhost:4002        #backend-2-socket-for-chat

REACT_APP_VAPID_PUBLIC_KEY=

NODE_OPTIONS=--max-old-space-size=8192


# Midtrans Configuration
REACT_APP_MIDTRANS_CLIENT_KEY=
REACT_APP_MIDTRANS_PRODUCTION=false

REACT_APP_MIDTRANS_ENV=
REACT_APP_MIDTRANS_SNAP_URL=

