/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/Images
/public/payment
/public/game
/public/deposit
/public/withdraw
/public/user
/public/banners/images
/public/withdraw/images
/public/storage
/public/enggang
/public/dash
/public/answers
/public/Images
/public/ppdb
/public/products
/public/promotions
/public/bank_accounts
/public/invoice
/public/invoice
/public/events/images/*
/public/blogs/images/*
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
